:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

#canvas-container {
  min-height: 300px;
  width: 100%;
}

#canvas-container canvas {
  height: 100% !important;
  width: 100% !important;
}

button,
.button {
  background: #333;
  border: 1px solid #666;
  color: #ccc;
  cursor: pointer;
  padding: 10px 20px;
}

button:hover,
.button:hover {
  background: #555;
  border-color: #999;
  color: #fff;
}

label {
  color: #ccc;
  font-size: 0.8rem;
}

#controls {
  margin: 20px 10px;
}

#overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  padding: 50px 0;
  position: absolute;
  width: 100%;
}

#overlay__start {
  margin-bottom: 20px;
}

#pause-toggle+label:before {
  content: 'Pause';
}

#pause-toggle:checked+label:before {
  content: 'Continue';
}

#cam-animation-toggle+label:before {
  content: 'Pause Camera';
}

#cam-animation-toggle:checked+label:before {
  content: 'Continue Camera';
}

.control {
  padding: 5px 10px;
}

.checkbox-hide {
  height: 0;
  opacity: 0;
  width: 0;
}

.display {
  background-color: #eee;
  display: flex;
  margin: 20px;
  padding: 10px 20px;
  text-align: center;
}

.display>div {
  margin: 5px;
}

.index,
.time {
  background-color: #ccc;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  width: 100px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
